<template>
  <div class="hello">
    <h3>{{msg}}</h3>
  <fm-making-form 
    ref="makingform" 
    style="height: 500px;"
    preview 
    generate-code 
    generate-json
    upload
    clearable
    :basic-fields="['input', 'textarea', 'radio']"
    :advance-fields="['blank', 'fileupload', 'editor', 'cascader']"
    :layout-fields="['grid']"
  >
  </fm-making-form>
    <div>
      <fm-generate-form 
        :data="jsonData" 
        ref="generateForm"
      >
      </fm-generate-form>
      <el-button type="primary" @click="handleSubmit">Submit</el-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data () {
    return {
      jsonData: { "list": [ { "type": "input", "icon": "icon-input", "options": { "width": "350px", "defaultValue": "", "required": false, "dataType": "string", "pattern": "", "placeholder": "", "disabled": false, "remoteFunc": "func_1626427563000_1693" }, "name": "Input", "key": "1626427563000_1693", "model": "input_1626427563000_1693", "rules": [ { "type": "string", "message": "InputInvaild format" } ] }, { "type": "textarea", "icon": "icon-diy-com-textarea", "options": { "width": "400px", "defaultValue": "", "required": false, "disabled": false, "pattern": "", "placeholder": "", "remoteFunc": "func_1626427567000_25885" }, "name": "Textarea", "key": "1626427567000_25885", "model": "textarea_1626427567000_25885", "rules": [] }, { "type": "radio", "icon": "icon-radio-active", "options": { "inline": true, "defaultValue": "", "showLabel": false, "options": [ { "value": "Option 1", "label": "Option 1" }, { "value": "Option 2", "label": "Option 2" }, { "value": "Option 3", "label": "Option 3" } ], "required": false, "width": "500px", "remote": false, "remoteOptions": [], "props": { "value": "value", "label": "label" }, "remoteFunc": "func_1626427568000_89531", "disabled": false }, "name": "Radio", "key": "1626427568000_89531", "model": "radio_1626427568000_89531", "rules": [] } ], "config": { "labelWidth": 0, "labelPosition": "left", "size": "small", "customClass": "" } }
    }
  },
  methods: {
    handleSubmit () {
      this.$refs.generateForm.getData().then(data => {
        alert(JSON.stringify(data))
      }).catch(e => {
        console.log(e)
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
/* ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
} */
</style>
